<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<form th:action="@{/product/update/}" th:method="POST" th:object="${product}">
    <div>
        <label>ID : </label>
        <input type="text" th:value="*{id}" th:field="*{id}" readonly="true" />
    </div>
    <div>
        <label>Name : </label>
        <input type="text" th:value="*{name}" th:field="*{name}"/>
    </div>
    <div>
        <label>Price : </label>
        <input type="text" th:value="*{price}" th:field="*{price}"/>
    </div>
    <div>
        <label>Description : </label>
        <input type="text" th:value="*{description} " th:field="*{description}"/>
    </div>
    <div>
        <label>Img : </label>
        <input th:value="*{srcImg}" th:field="*{srcImg}"/>
    </div>
    <input type="submit" value="Update"/>
    <a href="/list">Back to List</a>

</form>
<footer th:fragment="footer">
    &copy; 2018 CodeGym
</footer>
</body>
</html>